---
import TheMobileNavBar  from "./nav-bar/TheMobileNavBar.vue";
import TheDesktopNavBar from "./nav-bar/TheDesktopNavBar.vue";
---

<nav class="z-10 w-full lg:w-4/6 m-auto lg:flex-none">
    <!-- Desktop NavBar -->
    <TheDesktopNavBar/>

    <!-- Mobile NavBar -->
    <TheMobileNavBar client:load/>
</nav>

