---
import AppWrapper from "../base/AppWrapper.vue";
import AppGradientBackdrop from "../base/AppGradientBackdrop.vue";
import TheBody from "../core/TheBody.vue";
import TheNavBar from "../core/TheNavBar.astro";
import TheFooter from "../core/TheFooter.vue";
import TheHeader from "../core/TheHeader.vue";
---

<TheBody>
    <div class="relative w-full p-5 overflow-x-clip">
        <AppGradientBackdrop />
        <AppWrapper class="m-auto grid grid-cols-1 gap-4 lg:flex">
            <TheHeader/>
            <TheNavBar/>
        </AppWrapper>
    </div>
    <main>
        <AppWrapper>
            <slot/>
        </AppWrapper>
    </main>
    <TheFooter/>
</TheBody>
