@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(0deg, #2563eb 0%, #34d399 100%);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}