@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow: hidden;
}

.glow {
    z-index: -100000;
    border-radius: 50%;
    background-color: #34d399;
    box-shadow: 0 0 60px 30px #34d399, /* inner white */ 0 0 100px 60px #2563eb, /* middle magenta */ 0 0 140px 90px #312e81; /* outer cyan */
}

.ps__rail-x {
    background-color: transparent !important;
}


.ps__rail-y {
    opacity: 1 !important;
    background-color: transparent !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ps__thumb-y {
    width: 0.5rem !important;
    opacity: 1 !important;
    margin-right: 3px !important;
    background: linear-gradient(0deg, #2563eb 0%, #34d399 100%) !important;
    box-shadow: 0 0 5px #2563eb;

}

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {   opacity: 1 !important; }