---
import TheFooter from "../components/core/TheFooter.vue";
import TheNavBar from "../components/core/TheNavBar.vue";

---
<div class="flex flex-col h-screen justify-between">
    <TheNavBar />
    <main>
        <slot />
    </main>
    <TheFooter />
</div>